<div class="container">

  <div *ngIf="mode === 'register'">
    <h1 mat-dialog-titl>Register</h1>
    <div *ngIf="error" class="error">Registration failed: {{ error }}</div>
    <div mat-dialog-content>
      <form [formGroup]="registerForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email" required />
          <mat-error *ngIf="registerForm.controls.email.invalid">{{
            getErrorMessage()
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="" formControlName="username" required />
          <mat-error *ngIf="registerForm.controls.username.invalid">{{
            getErrorMessage()
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" required />
        </mat-form-field>
        <div mat-dialog-actions>
          <button (click)="register()" mat-stroked-button color="primary" [hideText]="true"
            [mtBasicSpinner]="(authenticationService.isLoading$ | async) ?? false">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="mode === 'login'">
    <h1 mat-dialog-title>Login</h1>
    <p *ngIf="resetSuccessful==='true'">Password reset successfully.</p>
    <p *ngIf="verified==='true'">Account verified successfully.</p>
    <p *ngIf="requiresVerification==='true'">Account creation successful! Check your email for a verificaiton code.</p>
    <p *ngIf="error" class="error">Login failed: {{ error }}</p>
    <p><a href="" (click)="mode='requestPasswordReset';$event.preventDefault()">Reset password</a></p>
    <div mat-dialog-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required />
          <mat-error *ngIf="loginForm.controls.email.invalid">{{
            getErrorMessage()
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input type="password" matInput formControlName="password" required />
        </mat-form-field>
        <div mat-dialog-actions>
          <button (click)="login()" mat-stroked-button color="primary" [hideText]="true"
            [mtBasicSpinner]="(authenticationService.isLoading$ | async) ?? false">
            Login
          </button>
        </div>
        <div mat-dialog-actions>
          <button mat-stroked-button color="primary" *ngIf="(authenticationService.errorCode$ | async)==2"
            (click)="login(true)">Resend Code</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="mode === 'requestPasswordReset'">
    <h1 mat-dialog-titl>Request Pasword Reset</h1>
    <div *ngIf="error" class="error">Password reset request failed: {{ error }}</div>
    <div mat-dialog-content>
      <form [formGroup]="requestPasswordResetForm">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required />
          <mat-error *ngIf="requestPasswordResetForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
          <button (click)="requestPasswordReset()" mat-stroked-button color="primary" [hideText]="true"
            [mtBasicSpinner]="(authenticationService.isLoading$ | async) ?? false">
            Request Reset
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="mode==='performPasswordReset'">
    <h1 mat-dialog-titl>Reset Password</h1>
    <div *ngIf="error" class="error">Password reset failed: {{ error }}</div>
    <div mat-dialog-content>
      <form [formGroup]="passwordResetForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="resetEmail" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Reset Code</mat-label>
          <input type="text" matInput formControlName="resetCode" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="password" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input type="password" matInput formControlName="passwordConfirmation" required />
        </mat-form-field>
        <div mat-dialog-actions>
          <button (click)="performPasswordReset()" mat-stroked-button color="primary" [hideText]="true"
            [mtBasicSpinner]="(authenticationService.isLoading$ | async) ?? false">
            Reset
          </button>
        </div>
      </form>
    </div>

  </div>