.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  float: right;
}

/* button {
  margin: 5px;
} */

.error {
  margin: 5px;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}