.container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-content: center; */
	align-items: center;
}

button {
	margin-bottom: 10px;
}

.comment {
	width: 80%;
	/* set the card width */
	margin-bottom: 10px;
	/* add space between the cards */
}

button {
	margin-top: 8px;
	margin-bottom: 8px;
}

.comment-form {
	display: flex;
	flex-direction: column;
}

.comment-form button {
	width: 100%;
}