<mat-card *ngIf="plant != null" class="plant-mine">
	<mat-card-header>
		<div mat-card-avatar class="condensedImage" *ngIf="isCondensed">
			<img *ngIf="isImageLoading" mat-card-image [src]="'/assets/loading.gif'" alt="Photo">
			<img *ngIf="!isImageLoading && imageUrl != null" mat-card-image [src]="imageUrl" alt="Photo">
			<img *ngIf="!isImageLoading && imageUrl == null" [src]="'/assets/placeholder.jpg'" alt="Image">
		</div>
		<mat-card-title>{{plant.name}}</mat-card-title>
		<mat-card-subtitle *ngIf="isCondensed">
			<p *ngIf="isCondensed && needsWatering" [style.color]="backgroundColorWater">
				Needs Watering</p>
		</mat-card-subtitle>
		<mat-card-subtitle *ngIf="isCondensed">
			<p *ngIf="isCondensed && needsFertilizing && plant.fertilizingFrequency > 0"
				[style.color]="backgroundColorFertilize">
				Needs Fertilizing</p>
		</mat-card-subtitle>
		<mat-card-subtitle><i>{{plant.getTag()}}</i></mat-card-subtitle>
		<mat-card-subtitle>Water every {{plant.wateringFrequency}}
			days</mat-card-subtitle>
		<mat-card-subtitle *ngIf="plant.fertilizingFrequency > 0">Fertilize every {{plant.fertilizingFrequency}}
			days</mat-card-subtitle>
		<mat-card-subtitle *ngIf="plant.fertilizingFrequency == 0">Not fertilizing</mat-card-subtitle>
		<mat-card-subtitle *ngIf="isCondensed && plant.lastMoistDate != ''">Check soil again on:
			{{getNextMoistCheckDate()}}
		</mat-card-subtitle>
		<div class="menu-icon">

			<button mat-icon-button [matBadgeHidden]="(numComments$|async)==0"
				[matBadge]="numComments$ | async" matBadgeColor="warn" [matMenuTriggerFor]="menu"
				aria-label="Actions">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button *ngIf="plant.username == authenticationService.username" mat-menu-item
					(click)="editPlantNotes()"
					color="primary"><mat-icon>assignment</mat-icon><span>Notes</span></button>
				<button *ngIf="plant.username == authenticationService.username" mat-menu-item
					(click)="editPlant()"
					color="primary"><mat-icon>edit</mat-icon><span>Edit</span></button>
				<button *ngIf="plant.username == authenticationService.username" mat-menu-item
					(click)="openCareDialog()" color="primary"><mat-icon style="color:blue;">
						local_drink</mat-icon><span>Care</span></button>
				<a mat-button [routerLink]="['/comments', plant.ID, plant.username]"><mat-icon>
						comment</mat-icon><span>Comments</span></a>
				<button *ngIf="plant.username == authenticationService.username" mat-menu-item
					(click)="deletePlant()" color="warn">
					<mat-icon>delete_outline</mat-icon><span>Delete</span></button>
			</mat-menu>
		</div>
	</mat-card-header>
	<div *ngIf="!isCondensed" class="nonCondensedImage">

		<img *ngIf="isImageLoading" mat-card-image [src]="'/assets/loading.gif'" alt="Photo">
		<img *ngIf="!isImageLoading && imageUrl != null" mat-card-image [src]="imageUrl" alt="Photo">
		<img *ngIf="!isImageLoading && imageUrl == null" [src]="'/assets/placeholder.jpg'" alt="Image">
	</div>
	<mat-card-content>
		<div class="water-times" *ngIf="!isCondensed">
			<span class="left">
				<mat-card-subtitle>Last Watered:
					{{transformLastPlantCareDate(plant.lastWaterDate)}}</mat-card-subtitle>
				<mat-card-subtitle
					*ngIf="plant.skippedLastFertilize && plant.fertilizingFrequency > 0">Skipped
					Fertilize on:
					{{transformLastPlantCareDate(plant.lastFertilizeDate)}}</mat-card-subtitle>
				<mat-card-subtitle
					*ngIf="!plant.skippedLastFertilize && plant.fertilizingFrequency > 0">Last
					Fertilized:
					{{transformLastPlantCareDate(plant.lastFertilizeDate)}}</mat-card-subtitle>
				<mat-card-subtitle *ngIf="plant.fertilizingFrequency == 0">Last
					Fertilized: N/A</mat-card-subtitle>
			</span>
			<span class="right">
				<mat-card-subtitle *ngIf="plant.lastMoistDate != ''"
					[style.color]="backgroundColorMoist">Check soil again on:
					{{getNextMoistCheckDate()}}</mat-card-subtitle>
				<mat-card-subtitle *ngIf="plant.lastMoistDate == ''"
					[style.color]="backgroundColorWater">Water on:
					{{getNextWaterDate()}}</mat-card-subtitle>
				<mat-card-subtitle *ngIf="plant.fertilizingFrequency > 0"
					[style.color]="backgroundColorFertilize">Fertilize on:
					{{getNextFertilizeDate()}}</mat-card-subtitle>
				<mat-card-subtitle *ngIf="plant.fertilizingFrequency == 0"
					[style.color]="backgroundColorFertilize">Fertilize on: N/A</mat-card-subtitle>
			</span>
		</div>
	</mat-card-content>
	<mat-accordion *ngIf="plant.username==authenticationService.username">
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Log
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div *ngFor="let log of getSortedLogs()">
				<h3 class="date">{{transformGormDatabaseDate(log.CreatedAt)}}</h3>
				<p>{{log.log}}</p>
			</div>



		</mat-expansion-panel>
	</mat-accordion>

</mat-card>