<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span *ngIf="authenticationService.isAuthenticated$ | async" class="nav-item">
			<a mat-button routerLink="/home" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">My Plants</a>
		</span>
		<span class="nav-item">
			<a mat-button [routerLink]="['/home']" [queryParams]="{mode: 'public'}"
				routerLinkActive="active">Public Plants</a>
		</span>
		<span *ngIf="!(authenticationService.isAuthenticated$ | async)" class="nav-item">
			<a mat-button [routerLink]="['/authentication']" [queryParams]="{mode: 'login'}"
				routerLinkActive="active">Login</a>
		</span>
		<span *ngIf="!(authenticationService.isAuthenticated$ | async)" class="nav-item">
			<a mat-button [routerLink]="['/authentication']" [queryParams]="{mode: 'register'}"
				routerLinkActive="active">Register</a>
		</span>
		<span *ngIf="authenticationService.isAuthenticated$ | async" class="nav-item">
			<button mat-icon-button [matMenuTriggerFor]="profileMenu">
				<mat-icon>person</mat-icon>
			</button>
			<mat-menu #profileMenu="matMenu">
				<button mat-menu-item
					(click)="authenticationService.logout(undefined, true)">Logout</button>
				<button mat-menu-item routerLink="/profile"
					routerLinkActive="active-menu">Profile</button>
			</mat-menu>
		</span>

	</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>