.navbar {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	flex: 1;
	text-align: center;
}

.nav-link {
	display: block;
	padding: 1rem;
	text-decoration: none;
}

.active {
	background-color: darkblue;
}

.active-menu {
	background-color: gray;
}